<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Stores list</title>
</head>
<body>
    <header>
        <div>
            <a href="add_book.html">Add book</a>
            <a href="index.html">Book list</a>
            <a href="add_store.html">Add store</a>
            <a href="list_store.html">Store list</a>
        </div>
    </header>
    <div class="container">
        <h2>Stores list</h2>
        <div class="stores_container">
        </div>
    </div>
    
    <script src="javascript/scripts.js"></script>
</body>
</html>